<div class="contentContainer">
  <mat-card>
    <mat-card-title>B.SC in Engineering</mat-card-title>
    <mat-card-subtitle>
      <h2>Modern Academy</h2>
      <p>2009</p>
    </mat-card-subtitle>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>class</mat-icon>
          <h4 mat-line>Electronics & Communication Tech<br/><span>Very Good With Honor</span></h4>
        </mat-list-item>
        <mat-list-item>
          <h2 mat-line></h2>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
