<div class="contentContainer">
  <mat-card>
    <mat-card-title>SKILLS & COMPETENCES</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item>Goal Oriented</mat-list-item>
        <mat-list-item>Time Management</mat-list-item>
        <mat-list-item>Critical Thinking</mat-list-item>
        <mat-list-item>Research & Strategy</mat-list-item>
        <mat-list-item>Supportive</mat-list-item>
        <mat-list-item>Integrity</mat-list-item>
        <mat-list-item>
          <h3 matLine>Certificate of Good Conduct</h3>
          <h4 matLine>Military Service</h4>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>


  <mat-card>
    <mat-card-title>LANGUAGES</mat-card-title>
    <mat-card-content>
      <div id="lang">
        <section>
          <h2>English</h2>
          <p>Professional Working Proficiency</p>
        </section>
        <section>
          <h2>Arabic</h2>
          <p>Native or Bilingual Proficiency</p>
        </section>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>INTERESTS</mat-card-title>
    <mat-card-content>
      <mat-chip-list>
        <mat-chip>Science</mat-chip>
        <mat-chip>Philosophy</mat-chip>
        <mat-chip>Nutrition</mat-chip>
        <mat-chip>Coffee</mat-chip>
        <mat-chip>Gaming</mat-chip>
        <mat-chip>Technology</mat-chip>
      </mat-chip-list>
    </mat-card-content>
  </mat-card>


</div>
