<div class="contentContainer">
  <mat-card>
    <mat-card-title>Programming Languages</mat-card-title>
    <mat-card-content>
      <mat-chip-list>
        <mat-chip color="yellow" selected>JavaScript</mat-chip>
        <mat-chip color="">TypeScript</mat-chip>
        <mat-chip color="">PHP</mat-chip>
      </mat-chip-list>
    </mat-card-content>
  </mat-card>

<mat-card>
  <mat-card-title>Frameworks</mat-card-title>
  <mat-card-content>
    <mat-chip-list>
      <mat-chip color="">Angular</mat-chip>
      <mat-chip color="">Nuxt</mat-chip>
      <mat-chip color="">Laravel</mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>libraries</mat-card-title>
  <mat-card-content>
    <mat-chip-list>
      <mat-chip color="">Vue</mat-chip>
      <mat-chip color="">Vuetify</mat-chip>
      <mat-chip color="">Ant Design</mat-chip>
      <mat-chip color="">Angular Material</mat-chip>
      <mat-chip color="">AngularFire2</mat-chip>
      <mat-chip color="">Firebase</mat-chip>
      <mat-chip color="">Bootstrap</mat-chip>
      <mat-chip color="">JQuery</mat-chip>
      <mat-chip color="">Moment</mat-chip>
      <mat-chip color="">Axios</mat-chip>
      <mat-chip color="">Pusher</mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Tools</mat-card-title>
  <mat-card-content>
    <mat-chip-list>
      <mat-chip color="">NPM</mat-chip>
      <mat-chip color="">Yarn</mat-chip>
      <mat-chip color="">Git</mat-chip>
      <mat-chip color="">PHP Storm</mat-chip>
      <mat-chip color="">VS Code</mat-chip>
      <mat-chip color="">Laragon</mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Misc</mat-card-title>
  <mat-card-content>
    <mat-chip-list>
      <mat-chip color="">Linux Admin</mat-chip>
      <mat-chip color="">Networking</mat-chip>
      <mat-chip color="">Research</mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Certificates</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <h3 matLine>Red Hat Certified Engineer</h3>
        <h4 matLine>ID : 140 – 197 - 294</h4>
      </mat-list-item>

      <mat-list-item>
        <h2 matLine>Red Hat Certified System Administrator</h2>
        <h4 matLine>ID : 140 – 197 - 294</h4>
      </mat-list-item>

      <mat-list-item>
        <h2 matLine>SYSTEL Training Center</h2>
        <h4 matLine>Achievement Basic Telecommunication, Two Way Mobility Network
          & Broadband</h4>
      </mat-list-item>

      <mat-list-item>
        <h2 matLine>Military Service</h2>
        <h4 matLine> Achievement Required Skills for Radar System Equipment, Alert &
            Defense System</h4>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

</div>
