<div class="contentContainer">
  <mat-card>
    <mat-card-title>Ad3ely</mat-card-title>
    <mat-card-subtitle>
      <mat-chip-list>
        <mat-chip>Angular</mat-chip>
        <mat-chip>Firebase</mat-chip>
        <mat-chip>Rxjs</mat-chip>
        <mat-chip>Universal</mat-chip>
      </mat-chip-list>
    </mat-card-subtitle>
    <mat-card-content>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Description
          </mat-panel-title>
          <mat-panel-description>
            A social network for prayers
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
          <li><a href="https://ad3ely.com" target="_blank">Ad3ely.com</a></li>
          <li>Angular as SPA
            <ul>
              <li>Ant Design Zorro as CSS Framework with Custom Styles</li>
              <li>SCSS</li>
            </ul>
          </li>
          <li>Firebase Integration using Angularfire2
            <ul>
              <li>Firestore / Storage / Hosting </li>
              <li>Auth [ email&pass - Facebook - Twitter - Google ]
                <ul>
                  <li>Email Verification</li>
                  <li>Password Reset</li>
                </ul>
              </li>
              <li>Functions
                <ul>
                  <li>Server Side Rendering SSR using Angular Universal</li>
                </ul>
              </li>

            </ul>
          </li>
          <li>Rxjs Observable</li>
          <li>Google Analytics Integration
            <ul>
              <li>Angular Routing Event</li>
            </ul>
          </li>
          <li>Server Deployment
            <ul>
              <li>Firebase Function / Hosting</li>
            </ul>
          </li>
          <li ><button mat-button (click)="openDialog('ad3ely')">Screen Shots</button></li>
        </ul>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Salon</mat-card-title>
    <mat-card-subtitle>
      <mat-chip-list>
        <mat-chip>Laravel</mat-chip>
        <mat-chip>Vuetify</mat-chip>
        <mat-chip>Pusher</mat-chip>
      </mat-chip-list>
    </mat-card-subtitle>
    <mat-card-content>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Description
          </mat-panel-title>
          <mat-panel-description>
            Booking & Reservation
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
          <li><a href="https://https://salon-eg.com/en" target="_blank">salon-eg.com</a></li>
          <li>Vuetify as Front-End Framework
            <ul>
              <li>Custom  Admin Panel</li>
              <li>Custom Salon panel</li>
            </ul>
          </li>
          <li>Laravel as Back-End
            <ul>
              <li>Eloquent <-> MySQL DB & Relations</li>
              <li>Mobile Application API / Restful Resources</li>
              <li>Pusher [Push Notification] Web & Mobile</li>
              <li>Multi-authentication system</li>
            </ul>
          </li>
          <li>Server Deployment
            <ul>
              <li>Cloud: DigitalOcean</li>
              <li>OS: Ubuntu 18.04</li>
              <li>Http Server: Nginx</li>
            </ul>
          </li>
          <li ><button mat-button (click)="openDialog('salon')">Screen Shots</button></li>
        </ul>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>


  <mat-card>
    <mat-card-title>Dr. Egypt</mat-card-title>
    <mat-card-subtitle>
      <mat-chip-list>
        <mat-chip>Laravel</mat-chip>
        <mat-chip>Bootstrap</mat-chip>
        <mat-chip>Vue</mat-chip>
      </mat-chip-list>
    </mat-card-subtitle>
    <mat-card-content>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Description
          </mat-panel-title>
          <mat-panel-description>
            Egypt Health Platform
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
          <li><a href="#" target="_blank">Dr Egypt</a></li>
          <li>Bootstrap as Front-End Framework
            <ul>
              <li>Encapsulated using Vue Component</li>
            </ul>
          </li>
          <li>Laravel as Back-End
            <ul>
              <li>Eloquent <-> MySQL DB & Relations</li>
              <li>Mobile Application API / Restful Resources</li>
              <li>Multi-authentication system</li>
            </ul>
          </li>
          <li>Server Deployment
            <ul>
              <li>Cloud: DigitalOcean</li>
              <li>OS: Ubuntu 18.04</li>
              <li>Http Server: Nginx</li>
            </ul>
          </li>
          <li ><button mat-button (click)="openDialog('dr-egypt')">Screen Shots</button></li>
        </ul>
      </mat-expansion-panel>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Viendfit</mat-card-title>
    <mat-card-subtitle>
      <mat-chip-list>
        <mat-chip>Laravel</mat-chip>
        <mat-chip>Vue</mat-chip>
        <mat-chip>JQuery</mat-chip>
      </mat-chip-list>
    </mat-card-subtitle>
    <mat-card-content>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Description
          </mat-panel-title>
          <mat-panel-description>
            Health & Nutrition Portal
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
          <li><a href="https://viendofit.com" target="_blank">viendofit.com</a></li>
          <li>Vue / Bootsrtap front-end
            <ul>
              <li>Custom  Admin Panel</li>
            </ul>
          </li>
          <li>Laravel as Back-End
            <ul>
              <li>Eloquent <-> MySQL DB & Relations</li>
            </ul>
          </li>
          <li>Server Deployment
            <ul>
              <li>Cloud: DigitalOcean</li>
            </ul>
          </li>
          <li ><button mat-button (click)="openDialog('viendofit')">Screen Shots</button></li>
        </ul>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>
</div>

