<div  class="container" *ngIf="!ShowMe else Resume">
  <img id="Cat" class="animated zoomIn" src="./assets/dev_cat.gif" type="gif" />
</div>

<ng-template #Resume>
  <mat-sidenav-container  class="container animated fadeIn">
    <mat-sidenav [mode]="SideMode" [opened]="Drawer" class="sideNav">
      <mat-card>
        <mat-card-header>
        </mat-card-header>
        <mat-card-title>Ahmed Anwar</mat-card-title>
        <mat-card-subtitle>Full Stack Web developer</mat-card-subtitle>
        <img mat-card-image src="./assets/profile.jpg">
        <mat-card-content>
          <mat-action-list>
            <button mat-list-item routerLink="" (click)="closeDrawer()">Home</button>
            <button mat-list-item routerLink="work-experience" (click)="closeDrawer()">Work Experience</button>
            <button mat-list-item routerLink="education" (click)="closeDrawer()">Education</button>
            <button mat-list-item routerLink="technical-skills" (click)="closeDrawer()">Technical Skills</button>
            <button mat-list-item routerLink="projects" (click)="closeDrawer()">Projects</button>
            <button mat-list-item routerLink="misc" (click)="closeDrawer()">Misc</button>
          </mat-action-list>
          <mat-divider></mat-divider>
          <mat-list dense>
            <mat-list-item>
              <mat-icon mat-list-icon>email</mat-icon>
              <p>ahmed.icti5@gmail.com</p>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>phone</mat-icon>
              <p>01274258218</p>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>map</mat-icon>
              <p>Haram - Giza, Egypt</p>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>web</mat-icon>
              <a href="https://unrealbato.github.io/resume" target="_blank">unrealbato.github.io/resume</a>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>linked</mat-icon>
              <a href="https://www.linkedin.com/in/ahmedroot/" target="_blank">https://www.linkedin.com/in/ahmedroot/</a>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>


    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar>
        <button mat-button (click)="Drawer = !Drawer">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="capitalize">{{title}}</span>
      </mat-toolbar>
      <div class="mainContent">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>



