<div class="contentContainer">
<mat-card>
  <mat-card-title>Web Developer</mat-card-title>
  <mat-card-subtitle>
    <p>Digitalsigma</p>
    <p>06/2018 – 8/2019</p>
    <p>Tasks</p>
  </mat-card-subtitle>
  <mat-card-content>
    <mat-list>
      <mat-list-item>- Responsible for server-side web application back-end using
        Laravel Framework 5+ & API integration</mat-list-item>
      <mat-list-item>- Front-end side Using Vue Js, Bootstrap, JQuery</mat-list-item>
      <mat-list-item>- Database creation, integration & deployment process</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Community Support Representative</mat-card-title>
  <mat-card-subtitle>
    <p>UBER</p>
    <p>10/2016 – 05/2017</p>
    <p>Tasks</p>
  </mat-card-subtitle>
  <mat-card-content>
    <mat-list>
      <mat-list-item>- Deliver high-quality service across multiple support platforms
        (email, chat, phone)</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>


<mat-card>
  <mat-card-title>Linux System Engineer</mat-card-title>
  <mat-card-subtitle>
    <p>Nutech</p>
    <p>05/2015 – 03/2016</p>
    <p>Tasks</p>
  </mat-card-subtitle>
  <mat-card-content>
    <mat-list>
      <mat-list-item>- Research & Development for Open Source Linux Based Solutions</mat-list-item>
      <mat-list-item>- Assists With the integration of technologies</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Samsung Mobile Service Engineer</mat-card-title>
  <mat-card-subtitle>
    <p>Union Group</p>
    <p>11/2013 – 07/2014</p>
    <p>Tasks</p>
  </mat-card-subtitle>
  <mat-card-content>
    <mat-list>
      <mat-list-item>- Fault Finding Repairs and Maintenance (Hardware/Software) of
        Customer’s Mobiles</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Technical Support</mat-card-title>
  <mat-card-subtitle>
    <p>IQ Networking</p>
    <p>12/2012 – 05/2013</p>
  </mat-card-subtitle>
</mat-card>

<mat-card>
  <mat-card-title>Reserved Officer</mat-card-title>
  <mat-card-subtitle>
    <p>Egypt Armed Forces</p>
    <p>01/2010 – 10/2012</p>
  </mat-card-subtitle>
</mat-card>


</div>
