<div class="contentContainer">
  <div>
    <h1 style="color:crimson">Welcome, Sir!</h1>
    <h3>Glade you have visited my portfolio, I'm Ahmed Anwar & maybe I could be your next potential candidate as a Web Developer.</h3>
  </div>

  <div>
    <h2 style="color:crimson">Let me guide you to know me better</h2>
    <h3>My experience 1+ year as full-stack dev plus operation tasks such as server deployment and OS environment stack configuration, please refer to my work experience for more details.</h3>
  </div>

  <div>
    <h4>I'm Currently Looking for a job opportunity as JS  developer preferable Angular, However, I have expertise with VueJS, Vuetify & Bootstrap.</h4>
  </div>

  <div>
    <button mat-raised-button><span>Status:</span> Looking for a suitable opportunity</button>
   </div>
    <div>
      <button mat-raised-button><span>Availability:</span> 2 Weeks</button>
    </div>
    <div>
      <button mat-raised-button><span>Salary:</span> $$$$</button>
    </div>


</div>
