div
  color: maroon!important
  margin: auto


span
  font-size: 17px
  font-weight: bold
  font-family: "Fira Code"
  color: green

.mat-list-text
  color: maroon!important

button
  margin-top: 10px

.baseFix
    display: flex!important
    align-items: baseline!important
    p
      display: inline!important
      margin: 0
    pre
      margin: 0
