<div class="contentContainer">
  <div>
    <h1 style="color:crimson">Welcome, Sir!</h1>
    <h3>Glade you have visited my portfolio, I'm Ahmed Anwar & maybe I could be your next potential candidate as a Web Developer.</h3>
  </div>

  <div>
    <h2 style="color:crimson">Let me introduce myself to know me better</h2>
    <h3>I have 1+ year of experience as full-stack development plus operation tasks such as server deployment and OS environment stack configuration, please refer to my work experience for more details.</h3>
  </div>

  <div>
    <h4>I'm currently looking for a job opportunity as JS developer preferable Angular, Although, I have expertise with VueJS, Vuetify & Bootstrap.</h4>
  </div>

  <div>
    <button mat-raised-button><div class="baseFix"><span>Status: </span> <pre> Looking for a suitable opportunity</pre></div></button>
   </div>
    <div>
      <button mat-raised-button><div class="baseFix"><span>Availability: </span><pre> 2 Weeks</pre></div></button>
    </div>
    <div>
      <button mat-raised-button><div class="baseFix"><span>Salary: </span> <pre> $$$$</pre></div></button>
    </div>


</div>
